section#sectiona {
    padding-top: 10px;
}
article#pagechangerbox {
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
}
button#prevpagebutton {
    width: 50px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: #CCC;
    cursor: pointer;
}
button#nextpagebutton {
    width: 50px;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: #CCC;
    cursor: pointer;
}

section#sectionb {
    padding-top: 10px;
    padding-bottom: 20px;
}
article#componentbox {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    background-color: #CCC;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
input#messageinput {
    padding: 3px;
    border: 1px solid #CCC;
    border-radius: 5px;
}
article#buttonbox {
    padding-top: 8px;
}
button#sendbutton {
    width: 60px;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
    background-color: #CCC;
    cursor: pointer;
}