section#sectionbox {
    text-align: center;
    padding-top: 10px;
}
article#articlebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p#pmessage {
    text-align: center;
    font-family: monospace;
}